@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,600;1,300&family=Lato:ital,wght@0,400;0,700;1,300&family=Open+Sans:wght@300;400&family=Roboto:ital,wght@0,400;0,500;0,700;1,300&display=swap");

* {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #eee;
}

header {
  height: 4.5rem;
  background-color: #191923;
  display: flex;
  justify-content: space-between;

  width: 100%;
}

.box,
header ul,
header li {
  display: flex;

  gap: 2rem;
  height: 100%;
}
.box2 {
  display: flex;
  gap: 2rem;
  place-items: center;
  margin-right: 2rem;
}

.box2 button {
  background-color: #00adb5;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: 700;
  color: #eee;
  height: 3rem;
  padding: 1rem;
  border: none;
  display: grid;
  place-content: center;
  transition: 0.3s all ease;
  cursor: pointer;
}

.box2 button:hover {
  background-color: #eee;
  color: #00adb5;
}
header li {
  align-items: center;
  flex-wrap: wrap;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: 700;
  color: #eee;
}

header li:hover {
  color: #00adb5;
  transition: 0.3s all ease;
}

.box__responsive {
  display: none;
}

.box__logo {
  height: 100%;
  display: flex;
  place-content: center;
  margin: 0 2rem;
}
.box__logo img {
  height: 90%;
  margin: auto;
}

.block1 {
  width: 100%;
  height: calc(100vh - 4.5rem);
  display: flex;
  flex-direction: column;
  position: relative;
}

.block1__video {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -10;
}
.block1__video video {
  position: absolute;
  object-fit: cover;
  height: calc(100vh - 4.5rem);
  width: 100%;
}



.block1__arrow {
  background-color: chocolate;
}
.block1__box1 {
  display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  z-index: 10;
  gap: 3rem;
}
.block1__search {
  width: 40%;
  margin-top: 6rem;
}

.block1__search form {
  display: flex;
}

.block1__search--search {
  width: 85%;
  height: 2.5rem;
  border-radius: 15px 0 0 15px;
  border: none;
  font-size: 1.3rem;
  padding-left: 1rem;
  outline: none;
}

.block1__search--submit {
  width: 10%;
  background-color: #00adb5;
  border: none;
  border-radius: 0 15px 15px 0;
  fill: white;
  cursor: pointer;
}

.block1__container{
  height: 30rem;
  width: 85rem;
  background-color: #00adb5;
  display: flex;
  justify-content: space-between;
}

.block1__carrouselBox{
background-color: #eee;
width: 170rem;
height: 100%;
overflow: hidden;
}


.block1__carrousel{
  width: 250%;
  height: 100%;
  background-color: brown;
  display: flex;
  gap: 1rem;
  padding: 0 0.5rem 0 0.5rem;
}

.block1__card{
  width: calc(100% / 8);
  height: 100%;
  background-color: cadetblue;
}

.block1__arrowBox{
  display: flex;
  align-items: center;
  fill: #eee;
  cursor: pointer;
}








































@media (width < 950px) {
  header {
    flex-wrap: wrap;
    height: 5rem;
  }

  .box {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .box2 {
    width: 100vw;
    flex-direction: column;
    background-color: #eee;
    gap: 0;
    margin-right: 0;
  }

  .box__responsive {
    display: block;
    display: flex;
    place-items: center;
    width: 3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 2rem;
  }
  .box__responsive svg {
    fill: #eee;
  }
  header nav,
  header ul,
  header li {
    width: 100%;
  }
  header ul {
    flex-direction: column;
    gap: 0;
  }
  header li {
    color: #191923;
    height: 5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .box2 button {
    width: 100%;
    height: 5rem;
  }
}
