:root {
  --primary-color: white;
  --secondary-color: black;
  --third-color: #f27f0c;
  --fourth-color: #f7ad19;
  --fifth-color: #053f5c;
  --sixth-color: #429ebd;
  --seventh-color: #9fe7f5;
  --eighth--color: #fffafb;

  /* Tipografía */
  --tipo-principal: "Poppins", sans-serif;
  --tipo-secundaria: "Lora", serif;
}
* {
  font-family: var(--tipo-principal);
}
html {
  scroll-behavior: smooth;
}

header,
.box1,
.box2,
.box3,
.box1__responsive,
.box2 ul,
.box3__phone,
.box3__social {
  display: flex;
  align-items: center;
  height: 100%;
}
.box1__responsive--open {
  display: none;
}

header {
  justify-content: space-between;
  height: 6rem;
  position: absolute;
  width: 100%;
  user-select: none;
}

.box1 h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-left: 2rem;
  color: var(--third-color);
}
.box2__responsive--close {
  display: none;
}
.box2 ul {
  gap: 1rem;
}
.box2 a {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--primary-color);
}
.box2 a:hover,
.box3__social i:hover {
  color: var(--third-color);
  transition: 0.3s all ease;
}

.box2 li:last-child {
  display: none;
}

.box3 {
  margin-right: 2rem;
  color: var(--primary-color);
}
.box3,
.box3__social {
  gap: 0.5rem;
}
.box3__social {
  height: 70%;
  border-left: 2px solid white;
}
.box3__social i {
  font-size: 2rem;
}
.box3__social i:first-child {
  margin-left: 0.5rem;
}

.block1 {
  background-size: cover;
  background-color: var(--primary-color);
  width: 100%;
  height: 100vh;
  background-image: url(/images/background/section1-background.webp);
}

.block1,
.block1__box {
  display: grid;
  place-content: center;
}
.block1__box {
  width: auto;
  height: 20rem;
  text-align: center;
  gap: 2rem;
}

.block1__box fieldset {
  display: flex;
  background-color: var(--primary-color);
  gap: 1rem;
  height: 3rem;
  box-shadow: 0px 0px 20px 2px #000000;
  border-radius: 0 10px 10px 0;
}
.block1__box select {
  width: 15rem;
  text-align: center;
  font-weight: 500;
  transition: 0.3s all ease;
}

.block1__box button {
  height: 100%;
  width: 4rem;
  background-color: var(--third-color);
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}
.block1__box button i {
  font-size: 1.5rem;
  color: var(--primary-color);
}

.block2 {
  height: 80rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-image: url(/topography.png);
}

.block2__banner {
  background: rgba(5, 63, 92, 0.5);
  border: 1px solid rgba(5, 63, 92, 0.275);
  display: flex;
  height: 6rem;
  width: 100%;
  justify-content: center;
  gap: 3rem;
}

.block2__banner--bubble {
  height: 100%;
  width: 15%;

  display: grid;
  place-content: center;
  text-align: center;
  line-height: 1.2;
  color: var(--primary-color);
}

.block2__banner--bubble h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.block2__banner--bubble h4 {
  font-size: 1.3rem;
  font-weight: 500;
}
.block2__box {
  width: 100%;
  height: 35rem;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  padding: 0 1rem;
  margin: 2rem 0;
}
.block2__boxText {
  width: 20rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  text-align: center;
}

.block2__box:last-child {
  flex-direction: row-reverse;
}

.block2__boxText h2 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 1;
  margin: 0 2rem;
  color: var(--fifth-color);
}

.block2__boxText p {
  margin: 0 2rem;
}

.block2__box--Box {
  height: 100%;
  width: 64rem;
  display: grid;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.carrouselBox {
  width: 160rem;
  height: 25rem;
}

.carrouselBox__container {
  height: 100%;
  width: 100%;

  display: flex;
  margin-left: -16rem;
  transition: 0.3s all ease-in-out;
}

.carrouselBox__card {
  background-color: rgb(128, 0, 90);
  cursor: pointer;
  margin: 0 0.5rem 0;
  position: relative;
  width: 16rem;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.carrouselBox__card img {
  width: 100%;
  height: 100%;
  transition: 0.5s all ease;
}
.carrouselBox__card:hover img {
  transform: scale(1.1);
}
.carrouselBox__text {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
  pointer-events: none;

  gap: 0.5rem;
  padding: 1rem 0;
}
.carrouselBox__text h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
.carrouselBox__text h3:last-of-type {
  color: var(--third-color);
}

.carrouselBox__text h4 {
  font-size: 1.5rem;
}

.carrouselBox__arrow {
  position: absolute;
  display: flex;
  width: 100%;

  z-index: 2;
  justify-content: space-around;
  height: auto;
  bottom: 0;
  margin: auto;
}

.carrouselBox__arrow i {
  font-size: 3rem;
  color: var(--fifth-color);
  cursor: pointer;
}

@media (width < 1250px) {
  .box1 h1 {
    font-size: 2rem;
  }
  .box3__phone {
    display: none;
  }

  .box3__social {
    border-left: none;
  }
  .box2 a {
    font-size: 1.2rem;
  }
}

@media (width < 950px) {
  .box3 {
    display: none;
  }
  .box1 {
    justify-content: space-between;
    width: 100%;
    margin-right: 2rem;
  }
  .box1 h1 {
    font-size: 2.5rem;
  }
  .box1__responsive--open {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .box1__responsive--open i {
    font-size: 2rem;
    color: var(--primary-color);
  }

  .box2 {
    flex-direction: column;
    background-color: var(--primary-color);
    position: fixed;
    right: 0;
    top: 0;
    width: 15rem;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3);
    transition: 0.4s all ease;
    transform: translateX(15rem);
  }
  .box2 nav::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .box2 li:last-child {
    display: block;
  }
  .box2 nav {
    height: 100%;
  }
  .box2 ul {
    flex-direction: column;
    justify-content: center;
  }
  .box2 li {
    height: 4rem;
  }

  .box2 a {
    color: var(--secondary-color);
  }
  .box2__responsive--close {
    display: block;
    display: flex;
    height: 5rem;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  .box2__responsive--close {
    margin-right: 3rem;
  }
  .box2__responsive--close i {
    font-size: 3.5rem;
    color: var(--third-color);
  }

  .block1__box fieldset {
    flex-direction: column;
    height: auto;
    border-radius: 0;
    width: 50vw;
  }
  .block1__box button {
    height: 3rem;
    border-radius: 0;
    width: 100%;
  }
  .block1__box select {
    height: 4rem;
    width: 100%;
  }
}

@media (width < 500px) {
  .box1 h1 {
    font-size: 2rem;
  }
  .box1__responsive--open {
    width: 3rem;
    height: 3rem;
  }
  .box1__responsive--open i {
    font-size: 1.75rem;
  }
}

@media (width < 400px) {
  .box1 h1 {
    font-size: 1.4rem;
  }
}
