:root {
  --primary-color: #ffff;
  --secondary-color: #1d3846;
  --third-color: #696361;
  --fourth-color: #769cb4;
  --fifth-color: #aa8d68;
  --eighth--color: #f2f3f4;

  /* Tipografía */
  --tipo-principal: "Poppins", sans-serif;
  --tipo-secundaria: "Lora", serif;
}
* {
  font-family: var(--tipo-principal);
}
html {
  scroll-behavior: smooth;
}

/*HEADER*/
header,
.box1,
.box2,
.box3,
.box1__responsive,
.box2 ul,
.box3__phone,
.box3__social {
  display: flex;
  align-items: center;
  height: 100%;
}
.box1__responsive__open {
  display: none;
}

header {
  justify-content: space-between;
  height: 6rem;
  position: relative;
  z-index: 10;
  width: 100%;
  user-select: none;
  background-color: var(--primary-color);
  box-shadow: 0px -1px 20px 0px #000000;
}

.box1 h1 {
  font-size: 2.2rem;
  font-weight: 600;

  color: var(--secondary-color);
}
.box1 img {
  height: 90%;
  margin: 0 0.5rem 0 1rem;
}
.box2__responsive__close {
  display: none;
}
.box2 ul {
  gap: 1rem;
}
.box2 a {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--secondary-color);
}
.box2 a:hover,
.box3__social i:hover {
  color: var(--fifth-color);
  transition: 0.3s all ease;
}

.box2 li:last-child {
  display: none;
}

.box3 {
  margin-right: 2rem;
  color: var(--secondary-color);
}
.box3,
.box3__social {
  gap: 0.5rem;
}
.box3__social {
  height: 70%;
  border-left: 2px solid var(--fifth-color);
}
.box3__social i {
  font-size: 2rem;
}
.box3__social i:first-child {
  margin-left: 0.5rem;
}

/*BLOCK1*/

.block1 {
  width: 100%;
  height: calc(100vh - 6rem);
  background-color: var(--primary-color);
}

.block1__wallpaper {
  background-image: url(/images/background/background-block1.webp);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 85%;
  position: relative;
}

.block1__wallpaper h2 {
  font-size: 5rem;
  user-select: none;
  color: #fff;
  width: 50rem;
  height: auto;
  font-weight: 600;
  line-height: 0.9;
  font-style: italic;
  position: absolute;
  bottom: 12rem;
  left: 2rem;
}

.block1 form {
  background-color: var(--primary-color);
  box-shadow: 5px 5px 20px -5px #000000;
  width: 80rem;
  height: 8rem;
  position: absolute;
  bottom: -4rem;
  border-radius: 5px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.block1 fieldset {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
  gap: 3rem;
}

.block1 select,
.block1 button {
  padding: 0 3rem;
  height: 3.5rem;
  border-radius: 30px;
}

.block1 select {
  background-color: var(--primary-color);
  border: 1px solid var(--fifth-color);
  color: var(--secondary-color);
  font-weight: 600;

  position: relative;
}

.block1 button {
  background-color: var(--fifth-color);
  color: var(--primary-color);
}

.block1 button:hover {
  background-color: var(--secondary-color);
  transition: 0.3s all ease;
  cursor: pointer;
}
.block1 button i {
  font-size: 1.3rem;
}

/*BLOCK2*/

.block2 {
  width: 100%;
  height: auto;
  padding-bottom: 6rem;
  background-color: var(--primary-color);
  display: flex;
}

.block2__text {
  flex: 50%;
}
.block2__img {
  flex: 50%;
}
.block2__text {
  height: auto;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: center;
}
.block2__text h2 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--secondary-color);
  border-bottom: var(--fifth-color) 4px solid;
  width: auto;
  line-height: 1;
}

.block2__text h2::after {
  content: "";
  left: 0;
  top: 0;
}

.block2__text p {
  color: var(--secondary-color);
  font-size: 1.2rem;
  font-style: italic;
}

.block2__img {
  display: grid;
  place-content: center;
}

.block2__img img {
  width: 38rem;
  filter: drop-shadow(4px 4px 13px #000000);
}

/* BLOCK3 */

.block3,
.block5 {
  width: 100%;
  height: 55rem;
  background-image: url(/images/background/topography.svg);
  background-color: var(--eighth--color);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.block3 h2,
.block5 h2 {
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--secondary-color);
  width: auto;
  line-height: 1;
  margin: 5rem 2rem;
}

.block__arrow {
  display: flex;
  justify-content: center;
  position: absolute;

  bottom: 5rem;
  height: 4rem;
  gap: 4rem;
}

.block__arrow button {
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid var(--fifth-color);
}

.block__arrow i {
  font-size: 3rem;
  color: var(--fifth-color);
}
.block__carrouselBox {
  width: 68rem;
  height: 32rem;
  overflow: hidden;
}

.block__carrousel {
  width: 170rem;
  margin-left: -17rem;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.block__card {
  width: 16rem;

  margin: 1rem 0.5rem;
  height: 30rem;
  background-color: var(--primary-color);
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 4px 1px #000000;
  position: relative;
}
.block__card__img {
  width: 100%;
  height: 17rem;
  overflow: hidden;
}
.block__card__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s all ease;
}

.block__card:hover img {
  transform: scale(1.1);
}

.block__card__text {
  padding-top: 1.5rem;
  display: grid;
  height: 13rem;
  justify-content: center;

  text-align: center;
}
.block__card__text h3 {
  color: var(--secondary-color);
  font-size: 2.2rem;
  font-weight: 600;
}
.block__card__text h3:first-child {
  line-height: 0.8;
}
.block__card__text h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--fifth-color);
}

.block__card__text p {
  font-style: italic;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--fifth-color);
}

.block__card__circles {
  position: absolute;
  width: 100%;

  bottom: 12rem;
  height: auto;
  display: flex;
  justify-content: flex-end;
}

.block__card__circle {
  width: 3.5rem;
  height: 3.5rem;
  background-color: var(--secondary-color);
  border-radius: 50%;
  margin: 0 0.5rem;
  display: grid;
  place-content: center;
}

.block__card__circle i {
  font-size: 2rem;
  color: var(--primary-color);
}

/*BLOCK4*/

.block4 {
  width: 100%;
  height: auto;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;

  align-items: center;
}

.block4 h2 {
  margin: 4.5rem 0 1.5rem;
  font-size: 3rem;
  font-weight: 600;
  color: var(--secondary-color);
}

.block4 > p {
  font-size: 1.2rem;
  font-weight: 500;
  font-style: italic;
}

.block4 ul {
  width: 80%;
  height: 8rem;
  display: flex;
  margin-top: 3rem;
  gap: 1rem;
}

.block4__li {
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
  cursor: pointer;

  text-align: center;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  gap: 0.5rem;
  position: relative;
}

.block4__li i {
  font-size: 2.5rem;
  color: var(--secondary-color);
}
.block4__li p {
  font-size: 1.3rem;
  color: var(--secondary-color);

  height: auto;
  text-wrap: wrap;
}

.block4__li.active {
  background-color: var(--secondary-color);
}
.block4__li p.active {
  color: var(--eighth--color);
}

.fa-solid.active {
  color: var(--fifth-color);
}
.block4__li.active::after {
  content: "";
  position: absolute;
  bottom: -0.7rem;
  left: 50%;
  right: 50%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 15px solid var(--secondary-color);
  margin-left: -15px;
}

.block4__box {
  margin-top: 1.5rem;
  width: 80%;
  height: 25rem;
  margin-bottom: 10rem;
  position: relative;
}
.block4__box__card {
  width: 100%;
  height: 30rem;
  background-color: var(--primary-color);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
}
.block4__box__card.active {
  opacity: 1;
}

.block4__box__card img {
  width: 50%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
.block4__box__text {
  width: 50%;
  text-align: left;
  display: grid;
  place-content: center;

  padding: 2rem;
}

.block4__box__card h3 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--secondary-color);
  margin-bottom: 2rem;
  line-height: 1;
}

.block6 {
  width: 100%;
  height: 80rem;
  background-color: aliceblue;
  display: flex;
  place-content: center;
}

.block6__box {
  width: 80rem;
  height: 50rem;

  display: flex;
  gap: 1rem;
  margin-top: 5rem;
  border-radius: 15px;
}

.block6__box__banner {
  height: 100%;
  width: 20rem;
  position: relative;
  border-radius: 10px 0 0 10px;
  
}

.block6__box__map {
  position: relative;
  width: 60rem;
  height: 100%;
  background-image: url(/images/background/map3.webp);
  background-position: center;
  background-size: cover;
  border-radius: 0 10px 10px 0;
  border: 2px solid var(--fifth-color);
}

.block6__box__card{
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;

}
.block6__box__card.active{
  opacity: 1;
  
}

.block6__box__card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px 0 0 10px;
  border: 2px solid var(--fifth-color);
}
.block6__box__card h2{
  position: absolute;
  font-size: 3rem;
  text-align: center;
  font-weight: 500;
  width: 100%;
  top: 5rem;
  color: var(--primary-color);
  line-height: 1;
  padding: 0 1rem;
}



.block6__map__point li {
  position: absolute;
  width: 1rem;
  height: 1rem;
  background-color: var(--fifth-color);
  border-radius: 50%;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.block6__map__point li:nth-child(1) {
  bottom: 9%;
  left: 10%;
}

.block6__map__point li:nth-child(2) {
  bottom: 21.3%;
  left: 19.3%;
}
.block6__map__point li:nth-child(3) {
  bottom: 37%;
  left: 24.5%;
}
.block6__map__point li:nth-child(4) {
  top: 25.5%;
  left: 39.3%;
}
.block6__map__point li:nth-child(5) {
  top: 12%;
  left: 52.9%;
}

.block6__map__point li:hover {
  transform: scale(2);
}

.block6__map__text li {
  color: black;
  font-weight: 600;
  position: absolute;
  width: auto;
  font-size: 1.3rem;
  user-select: none;
  padding: 0.5rem 1.5rem;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.block6__map__text li:nth-child(1){
  width: 0;
  height: 0;
  background-color: transparent;
  opacity: 0;
}


.block6__map__text li:nth-child(2) {
  bottom: 3%;
  left: 16.2%;
}

.block6__map__text li:nth-child(3) {
  bottom: 16.7%;
  left: 25.5%;
}

.block6__map__text li:nth-child(4) {
  bottom: 36%;
  left: 32%;
}

.block6__map__text li:nth-child(5) {
  top: 25%;
  left: 13%;
}

.block6__map__text li:nth-child(6) {
  top: 11%;
  left: 28%;
}

@media (width < 1300px) {
  /*HEADER*/
  .box1 h1 {
    font-size: 2rem;
    margin-left: 2rem;
  }
  .box3__phone {
    display: none;
  }

  .box3__social {
    border-left: none;
  }
  .box2 a {
    font-size: 1.2rem;
  }
  .box1 img {
    display: none;
  }

  .block1__wallpaper h2 {
    font-size: 3rem;
    width: 25rem;
  }
  /*BLOCK1*/
  .block1 form {
    width: 50rem;
    height: 6rem;
  }

  .block1 fieldset {
    height: 100%;
    gap: 1rem;
  }

  .block1 select,
  .block1 button {
    padding: 0 1.5rem;
    height: 3rem;
    border-radius: 30px;
  }
  /*BLOCK2*/
  .block2__img img {
    width: 23rem;
  }
  .block2__text h2 {
    font-size: 2.5rem;
  }
  .block__carrouselBox {
    width: 51rem;
  }
  .block4__li p {
    width: 9rem;
  }

  .block6__box {
    width: 56rem;
    height: 35rem;
  }

  .block6__box__banner {
    width: 13rem;
  }

  .block6__box__map {
    width: 42rem;
  }

  .block6__map__text li{
    font-size: 1.2rem;
    padding: 0.5rem 0.75rem;
  }
}

@media (width < 950px) {
  /*HEADER*/
  .box3 {
    display: none;
  }
  .box1 {
    justify-content: space-between;
    width: 100%;
    margin-right: 2rem;
  }
  .box1 h1 {
    font-size: 2.5rem;
  }

  .box1__responsive__open {
    display: block;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
  }
  .box1__responsive__open i {
    font-size: 3rem;
    color: var(--secondary-color);
  }

  .box2 {
    flex-direction: column;
    background-color: var(--primary-color);
    position: fixed;
    right: 0;
    top: 0;
    width: 15rem;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.3);
    transition: 0.4s all ease;
    transform: translateX(15rem);
  }
  .box2 nav::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
  .box2 li:last-child {
    display: block;
  }
  .box2 nav {
    height: 100%;
  }
  .box2 ul {
    flex-direction: column;
    justify-content: center;
  }
  .box2 li {
    height: 4rem;
  }

  .box2__responsive__close {
    display: block;
    display: flex;
    height: 5rem;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
  }
  .box2__responsive__close {
    margin-right: 3rem;
  }
  .box2__responsive__close i {
    font-size: 3.5rem;
    color: var(--secondary-color);
  }

  /*BLOCK1*/
  .block1__wallpaper h2 {
    top: 7rem;
  }
  .block1 form {
    height: auto;
    width: 80%;
  }
  .block1 fieldset {
    flex-direction: column;
    width: 100%;
    gap: 0;
  }
  .block1 select {
    text-align: center;
    border: 0;
    border-bottom: 1px solid var(--fifth-color);
  }
  .block1 button,
  .block1 select {
    width: 100%;
    border-radius: 0;
  }
  .block1 button i {
    font-size: 1.5rem;
  }

  /*BLOCK2*/

  .block2 {
    flex-direction: column;
    height: auto;
    margin-bottom: 3rem;
  }

  .block2__text {
    padding: 5rem;
    text-align: center;
  }
  .block__carrouselBox {
    width: 34rem;
  }
  .block4 ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-bottom: 5rem;
  }
  .block4__li {
    height: 6rem;
  }
  .block4__li p {
    width: auto;
  }
  .block4__box {
    height: 45rem;
  }
  .block4__box__card {
    flex-direction: column;

    height: auto;
  }
  .block4__box__card img,
  .block4__box__text {
    width: 100%;
  }
  .block4__box__text {
    text-align: center;
    padding: 2rem 0 0 0;
  }

  .block5 h2,
  .block3 h2 {
    text-align: center;
    margin-bottom: 2rem;
  }

  .block__arrow:first-child {
    bottom: 8rem;
  }
  .block5 h2 {
    width: 80%;
  }

  .block3 h2 {
    width: 55%;
  }

  .block6__box {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .block6__box__banner {
    width: 42rem;
    height: 15rem;
  }

  .block6__box__map {
    width: 42rem;
    height: 35rem;
  }

  .block6__map__text li{
    font-size: 1.2rem;
    padding: 0.5rem 0.75rem;
  }
}

@media(width < 750px){


  .block6__box__banner {
    width: 29.4rem;
    height: 10.5rem;
  }

  .block6__box__map {
    width: 29.4rem;
    height: 24.5rem;
  }

  .block6__map__text li{
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
  }
}

@media (width < 670px) {
  .block3 h2,
  .block5 h2 {
    font-size: 3rem;
    text-align: center;
    margin: 3rem 5rem 2rem;
    text-wrap: wrap;
  }
  .block__carrouselBox {
    width: 17rem;
  }

  .block__arrow {
    bottom: 7.5rem;
  }
  .block3 h2 {
    width: 80%;
  }
}

@media (width < 500px) {
  /*HEADER*/
  .box1 h1 {
    font-size: 2rem;
  }
  .box1__responsive__open {
    width: 3rem;
    height: 3rem;
  }
  .box1__responsive__open i {
    font-size: 1.75rem;
  }
  /*BLOCK1*/
  .block1__wallpaper h2 {
    font-size: 2rem;
    width: 17rem;
  }
  .block1 select {
    font-size: 0.9rem;
  }
  .block2__text {
    padding: 2rem;
  }
  .block3 h2,
  .block5 h2 {
    font-size: 2.5rem;
  }
  .block__arrow {
    bottom: 9rem;
  }

  .block4 ul {
    margin-bottom: 10rem;
  }
  .block4__li {
    height: 8rem;
  }
  .block4__li p {
    width: 9rem;
  }

  .block4 h2,
  .block4 > p {
    padding: 0 2rem;
    line-height: 0.9;
    text-align: center;
  }
  
  .block6__box__banner {
    width: 20.58rem;
    height: 7.35rem;
  }

  .block6__box__map {
    width: 20.58rem;
    height: 17.15rem;
  }

  .block6__map__text li{
    font-size: 0.75rem;
    padding: 0.2rem 0.2rem;
  }
}

@media (width < 400px) {
  /*HEADER*/
  .box1 h1 {
    font-size: 1.4rem;
  }
  /*block2*/
  .block2__img img {
    width: 20rem;
  }
  .block5 h2 {
    width: 95%;
  }
  .block3 h2,
  .block5 h2 {
    margin: 3rem auto;
  }
  .block__arrow {
    bottom: 7.5rem;
  }
  .block4__li p {
    width: auto;
  }
}

